*     {
    margin: 0px;
    padding: 0px;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}  

img {
    width: 100%;
    height: 300px;
    margin: 0px;
}
  
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: white; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    }
  
header  {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color:rgb(47, 45, 58);
    margin-left: 0px;
    margin-right: 0px;
    justify-content: space-between;
    padding-top:0px;
    padding-bottom:0px;
    margin-bottom: 0px;
    text-decoration: none;
  }
  
.homelogo {
      flex-direction:row;
      flex-wrap: wrap;
      justify-content: flex-end;
      padding-left: 20px;
      padding-right: 20px;
      padding-top: 5px;
      padding-bottom: 10px;
      margin-left: 20px;
      margin-right: 20px;
      margin-bottom: 10px;
      margin-top: 10px;
      text-align: center;
      background-color: rgba(0, 247, 251, 0.902);
      text-decoration: none;
      font-weight: bold;
  }
  
.homenav:link {
    text-decoration: none;
    color: rgb(47, 45, 58);
    font-size: 40px;
  }
  
.homenav:visited {
    text-decoration: none;
    color: rgb(47, 45, 58);
  }

.topnav:link {
    text-decoration: none;
    color: rgba(0, 247, 251, 0.902);
    border-bottom: 2px solid rgba(0, 247, 251, 0.902);
  }
  
.topnav:visited {
    text-decoration: none;
    color: rgba(0, 247, 251, 0.902);
    border-bottom: 2px solid rgba(0, 247, 251, 0.902);
  }
 
.topnav {
      flex-direction:row;
      flex-wrap: wrap;
      justify-content: flex-end;
      padding-top: 25px;
      padding-bottom: 15px;
      padding-right: 20px;
      margin-right: 10px; 
      text-decoration: underline;
      font-weight: bold;
      color: rgba(0, 247, 251, 0.902);
      text-align: center;
      padding: 10px 5px;
      text-decoration: none;
      font-size: 20px;
      margin-left: 40px;
      margin-top: 15px;
      line-height: 1.2;
    }

   /* Container needed to position the button. Adjust the width as needed */
.container {
    position: relative;
    width: 100%;
    margin: 0px;
    background-color: rgb(47, 45, 58);
  }
  
  /* Make the image responsive */
.container img {
    width: 100%;
    height: 300px;
  }
  
  /* Style the button and place it in the middle of the container/image */
.container .btn {
    position: absolute;
    top: 160px;
    right: 5px;
    transform: translateX(-20px);
    -ms-transform: translate(-100%, -0%);
    background-color: rgba(0, 247, 251, 0.902);
    color: rgb(47, 45, 58);
    font-size: 20px;
    font-weight: bold;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    line-height: 1.2;
  }

section.grid-container1  {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px;
  padding: 40px;
}

.grid-col-span-2  {
  grid-column: span 2;
}

#aboutMe    {
  background-color: white;
  color: rgb(47, 45, 58);
  text-align: right;
  padding: 20px;
  padding-right: 40px;
  border-right: 5px solid rgb(47, 45, 58);
  font-size: 40px;
}

#aboutMe-text    {
  background-color: white;
  color: rgb(47, 45, 58);
  text-align: justify;
  padding: 20px;
}

section.grid-container2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px;
  padding: 40px;
}

.grid-row-span-3  {
  grid-row: span 3;
}

#myWork01   {
  background-color: white;
  color: rgb(47, 45, 58);
  text-align: right;
  padding: 20px;
  padding-right: 40px;
  border-right: 5px solid rgb(47, 45, 58);
  font-size: 40px;
}

#Horiseon   {
  position: relative;
  width: 100%;
}

#Horiseon img   {
  width: 100%;
  height: auto;
}

#HoriseonBtn {
  position: absolute;
  top: 480px;
  left: 50px;
  transform: translateX(-20px);
  -ms-transform: translate(-100%, -0%);
  background-color: rgba(0, 247, 251, 0.902);
  color: rgb(47, 45, 58);
  font-size: 20px;
  font-weight: bold;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  line-height: 1.2;
}

footer.grid-container3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px;
  padding: 40px;
}

#contactMe-div  {
  background-color: white;
  color: rgb(47, 45, 58);
  text-align: right;
  padding: 20px;
  padding-right: 40px;
  border-right: 5px solid rgb(47, 45, 58);
  font-size: 40px;
}



  /* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 900px) {
  .column {
    width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}
 